@import "variables";
@media screen and (min-width: 1600px) {
    .hero .container {
        height: 740px;
    }
}

@media screen and (max-width: 991px) {
    body {
        padding-top: 74px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section-padding {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav .nav-link {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .hero .container {
        height: inherit;
    }

    .heroText {
                position: relative;
                bottom: 100px;
                left: 0;
                width: auto;
                margin-bottom: -100px;
                padding: 2rem;
        }

    .featured-circle {
            width: 320px;
            height: 320px;
        }
}

@media screen and (max-width: 767px) {
    .heroText {
        padding: 1.5rem;
    }

    .animated-info {
        min-width: 125px;
    }

    .featured-circle {
        margin-top: 20px;
    }

    .reviews-carousel .owl-nav {
        position: relative;
        width: auto !important;
        transform: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        max-width: 100px;
        margin: 20px auto;
    }

    .reviews-carousel .owl-nav .owl-prev,
    .reviews-carousel .owl-nav .owl-next {
            right: 0;
            left: 0;
    }
}

@media screen and (max-width: 480px) {
    .heroText {
        padding: 1rem;
    }

    .heroLinks .custom-link {
        font-size: 12px;
        line-height: 30px;
        margin-right: 12px !important;
        padding: 0 25px;
    }

    .contact-phone {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .featured-number {
        font-size: 5rem;
    }

    .featured-circle {
        width: 235px;
        height: 235px;
    }

    .reviews-image {
        width: 55px !important;
        height: 55px !important;
    }

    .reviews-thumb figcaption {
        font-size: var($menu-font-size);
    }

    .timeline::before {
        left: 42px;
    }
}
@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left;
    }

    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }

    .timeline::before {
    content: "";
        display: block;
        position: absolute;
        top: 60px;
        left: 33px;
        width: 0;
        height: 90%;
        z-index: 1;
        transform: translateX(-50%);
    }

    .timeline-icons {
        position: absolute;
        left: 0%;
        top: 60px;
    }

    .timeline-nodes:nth-child(odd) h3::after {
        left: auto;
        right: 100%;
        border-left: 0;
        border-right: 10px solid var($dark-color);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) h3::after {
        right: 100%;
        width: 0;
        border-right: 10px solid var($dark-color);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }

    .timeline-icons::before {
        width: 75px;
        height: 75px;
    }

    .timeline-icon {
        line-height: 75px;
    }
}

@media (max-width: 575px) {
        .timeline::before {
        content: "";
        display: block;
        top: 60px;
        left: 57px;
        height: 87%;
    }

    .timeline-icons {
        position: absolute;
        left: -10px;
    }

    .timeline-icons::before {
        width: 70px;
        height: 70px;
    }

    .timeline-icon {
        line-height: 70px;
    }
}