@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
        text-align: left;
    }

    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }

    .timeline::before {
    content: "";
        display: block;
        position: absolute;
        top: 60px;
        left: 33px;
        width: 0;
        height: 90%;
        z-index: 1;
        transform: translateX(-50%);
    }

    .timeline-icons {
        position: absolute;
        left: 0%;
        top: 60px;
    }

    .timeline-nodes:nth-child(odd) h3::after {
        left: auto;
        right: 100%;
        border-left: 0;
        border-right: 10px solid var($dark-color);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) h3::after {
        right: 100%;
        width: 0;
        border-right: 10px solid var($dark-color);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }

    .timeline-icons::before {
        width: 75px;
        height: 75px;
    }

    .timeline-icon {
        line-height: 75px;
    }
}

@media (max-width: 575px) {
    .timeline::before {
    content: "";
        display: block;
        top: 60px;
        left: 57px;
        height: 87%;
    }

    .timeline-icons {
        position: absolute;
        left: -10px;
    }

    .timeline-icons::before {
        width: 70px;
        height: 70px;
    }

    .timeline-icon {
        line-height: 70px;
    }
}