@import "variables";
.featured-circle {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding: 0 20px;
}

.featured-text {
    font-size: var($h6-font-size);
    line-height: 2rem;
    font-weight: var($font-weight-bold);
    text-align: center;
    margin-bottom: 0;
}

.featured-number {
    color: var($primary-color);
    font-size: 8rem;
    margin: 0 10px;
}