@import "variables";
.hero {  
    padding-top: 0rem;
}

.hero .container {
    position: relative;
    overflow: hidden;
    height: 580px;
}

.heroText {
    background: var($white-color);
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    padding: 1.5rem 2.5rem;
    width: 50%;
}

.contact-phone {
    font-weight: var($font-weight-semibold);
}