.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 60px;
    padding: 0 20px;
    background: #161b22;
    img {
        width: 30px;
        height: 30px;
    }
    .burger {
        display: none;
        cursor: pointer;
}
}